
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main"
  ;
}


header {
  grid-area: header;
  background-color: rgb(126, 82, 221);
  display: flex;
  justify-content: space-between;
}

nav {
  grid-area: navigation;
  background-color: rgb(51, 30, 87);
}

main {
  grid-area: main;
  display: grid;
  grid-gap: 2px;
  background-color: #eee;
}

section {
  background-color: #fff;
}
  

.widget-container-full, .widget-container-half {
  width: 95vw;
}





@media (min-width: 768px) {

  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "navigation main"
    ;
  }

  .main {
    grid-template-columns: 50%;
  }

  .traffic, .social, .main-header, .alert {
    grid-column: 1 / span 2;
  }
  
  .daily, .members, .message {
    grid-column: 1 / span 1;
  }

  .mobile, .activity, .settings {
    grid-column: 2 / span 1;
  }
  
  
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }    


}
  



body {
  font-family: 'Oxygen', sans-serif;
}



/***********  header ***********/

h1, .bell-div, #notify, .profile-image, h2 {
  display: inline-block;
}

h1 {
  color: white;
  font-family: 'Kulim Park', sans-serif;
  margin: 30px 20px ;
}

span {
  font-weight: 100;
}

.aligned-right {
  padding-top: 15px;
}

.bell-div {
  position: relative;
  margin: 20px 5px;
}

#bell {
  width: 30px;
  cursor: pointer;
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }
  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

#bell:hover {
  animation: ring 4s .3s ease-in-out infinite;
}
  
#notify {
  height: 7px;
  width: 7px;
  background-color: limegreen;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  top: 0px;
  left: 25px;
}

.notificationBlock {
  display: none;
  position: absolute;
  top: 10%;
  right: 0;
}

.notifications li {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px;
  background-color: #eee;
  width: 290px;
  margin-top: -3px;
}


div.vertical-line{
  width: 1px; 
  background-color: blue; 
  height: 40px; 
  display: inline-block;
  text-align: center;
  margin: 0px 15px;
}

#person-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

#person {
  color: #fff;
  margin: -10px 30px 35px 10px;
}




/***********  navigation ***********/

.nav-icon {
  width: 30px;
  height: 30px;
  margin: 30px 12px;
}

nav img:hover {
  cursor: pointer;
}

@media (min-width: 320px) {

  .navigation {
    text-align: center;
  }

}




/***********  main-header ***********/

.main-header {
  display: flex;
  justify-content: space-between;
}

.headline, .main-header-search {
  display: inline-block;
}

.headline {
  font-family: 'Kulim Park', sans-serif;
  color: #000;
  background-color: #fff;
  padding: 15px 20px;
  margin: 0;
  top: 1px;
}

.main-header-search {
  padding: 15px 20px;
}

#search-input {
  width: 200px;
  height: 30px;
  padding: 15px 20px;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
}

@media (min-width: 768px) {

  #search-input {
    width: 400px;
  }

}


input[type="image"] {
  width: 5px;
  height: 5px;
  text-align: end;
}


/*********** alert banner ***********/

.alert {
  background-color: #fff;
  padding: 10px 20px;
  margin-top: -2px;
}

.alert-banner {
  color: #fff;
  background-color: rgb(66, 66, 172);
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 35px;
  margin: 0 auto;
  padding: 0px 20px 15px 20px;
  border-radius: 5px;
}

.alert-banner-close {
  cursor: pointer;
}




/***********  line graph charts ***********/

.traffic {
  margin-top: -2px;
}

.traffic-header {
  display: flex;
  justify-content: space-between;
}

h3 {
  font-family: 'Oxygen', sans-serif;
  color: #000;
  background-color: #fff;
  padding: 15px 20px;
  margin: 0;
  top: 1px;
  text-transform: uppercase;
}

ul, ol {
  list-style-type: none;
  
}

li {
  display: inline-block;
  margin: 5px 10px;
  font-weight: 700;
  cursor: pointer;
}

.active {
  color: #fff;
  background-color: limegreen;
  padding: 10px 15px;
  border-radius: 20px;
}


#traffic-chart {
  margin: 10px 20px 30px 20px;
}




/***********  bar graph and pie chart ***********/

.daily-chart-container, .mobile-users-container {
  width: 80vw;
  margin: 10px 20px 30px 20px;
}

@media (min-width: 768px) {

  .daily-chart-container, .mobile-users-container {
    width: 45vw;
    margin: 5px 10px 15px 10px;
  }

}




/***********  social media ***********/

.social-containers {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px 15px;
  height: 150px;
  align-items: center;
}

.social-container {
  width: 135px;
  height: 70px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #eee;
  display: flex;
  flex-direction: row;
}

.social-image {
  width: 60px;
  height: 30px;
  background-color: rgb(66, 66, 172);
  border-radius: 50%;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  width: 12px;
  height: 12px;
} 

.social-text {
  margin: 5px;
}

.social-name {
  font-weight: 800;
  color: rgb(66, 66, 172);
  margin-bottom: -30px;
  font-size: 10px;
}

.social-number {
  color: grey;
  font-weight: 100;
  font-size: 30px;
}


@media (min-width: 768px) {

  .social-container {
    width: 220px;
    height: 110px;
  }

  .social-image {
    width: 75px;
    height: 75px;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
  } 
  
  .social-text {
    margin: 15px;
  }
  
  .social-name {
    margin-bottom: -35px;
    font-size: 15px;
  }
  
  .social-number {
    font-size: 35px;
  }

}


@media (min-width: 1024px) {

  .social-container {
    width: 300px;
    height: 150px;
  }

  .social-number {
    font-size: 45px;
  }

  .social-image {
    width: 100px;
    height: 100px;
  }
  
  .social-icon {
    width: 50px;
    height: 50px;
  } 
  
  .social-text {
    margin: 20px 10px;
  }
  
  .social-name {
    margin-bottom: -40px;
  }
  
  .social-number {
    font-size: 45px;
  }

}





/***********  new members widget ***********/

.members-container {
  display: flex;
  margin: 20px;
  position: relative;
}

.profile-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.members-text p {
  font-size: 14px;
  margin: 5px 10px;
  font-weight: 600;
}
.members-text a {
  text-decoration: none;
}

.date {
  position: absolute;
  right: 0;
}

hr {
  width: 95%;
  margin: 0 auto;
}




/***********  recent activity widget ***********/

.activity-container {
  display: flex;
  margin: 20px;
  position: relative;
}

.activity-container .members-text p {
  font-weight: 500;
}

.activity-container .members-text p span {
  font-weight: 600;
}

.right-arrow {
  position: absolute;
  right: 0;
  color: rgb(66, 66, 172);
  font-size: 25px;
}




/***********  messaging widget ***********/

.widget-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 350px;
}

.form-field, .form-area, .send {
  width: 85%;
  height: 40px;
  padding: 5px 20px;
  background-color: #eee;
  outline: none;
  border: 1px solid grey;
  border-radius: 10px;
  display: inline-block;
  margin: 0 auto;
}

.form-area {
  height: 100px;
  padding: 15px 20px;
  resize: none;
}

.send {
  width: 90%;
  height: 60px;
  color: #fff;
  background-color: rgb(66, 66, 172);
  font-weight: 600;
  cursor: pointer;
}




/***********  local settings widget ***********/

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.switches {
  display: flex;
}

.email-text, .privacy-text {
  font-weight: 600;
  margin: 20px;
}

.privacy-text {
  margin-right: 55px;
}

.switch-light {
  width: 90px;
  margin: 10px 20px;
}

.toggle-weight {
  font-weight: 800;
}

#timezone {
  width: 90%;
  height: 40px;
  background: #f3f4f7;
  border: solid 1px #bbb;
  margin: 20px 30px;
  border-radius: 5px;
  color: #666;
}

.settings-button {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 20px 18px 20px;
}

#save, #cancel {
  width: 45%;
  height: 60px;
  color: #fff;
  background-color: rgb(66, 66, 172);
  border: 1px solid rgb(66, 66, 172);
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

#cancel {
  background-color: grey;
  border: 1px solid grey;
}
